{% extends "mod_hotel/base_mod_backend.html" %}
{% load i18n crispy_forms_tags %}
{% block customcss %}
    <style>
        .pieza_ausente {
            opacity: 0.3;
        }

        .platino {
            background-color: #c0c0c0;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="page-header">
        </h4><a href="{% url 'atencion:persona_list' %}">Regresar</a></h4>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">ODONTOGRAMA -
                Paciente: {{ historia.persona.nombres }} {{ historia.persona.apellido_paterno }} {{ historia.persona.apellido_materno }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="text-center">

                        <table class="odontograma">
                            <tr>
                                <td style="border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;">
                                    <table class="cuadrante cuadrante-1">
                                        <tr class="permanentes">
                                            <td>
                                                <table>
                                                    <tr>
                                                        {% for p in piezas_permanentes_c1 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.id }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }} </span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="temporales">
                                            <td style="text-align: right;">
                                                <table style="display: inline-block;">
                                                    <tr>
                                                        {% for p in piezas_temporales_c1 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento_id.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;">
                                    <table class="cuadrante cuadrante-2">
                                        <tr class="permanentes">
                                            <td>
                                                <table>
                                                    <tr>
                                                        {% for p in piezas_permanentes_c2 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento_id.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="temporales">
                                            <td>
                                                <table>
                                                    <tr>
                                                        {% for p in piezas_temporales_c2 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento_id.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: 1px solid #ccc;border-right: 1px solid #ccc;">
                                    <table class="cuadrante cuadrante-4">
                                        <tr class="temporales">
                                            <td style="text-align: right;">
                                                <table style="display: inline-block;">
                                                    <tr>
                                                        {% for p in piezas_temporales_c4 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento_id.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="permanentes">
                                            <td>
                                                <table>
                                                    <tr>
                                                        {% for p in piezas_permanentes_c4 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento_id.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="border-top: 1px solid #ccc;border-left: 1px solid #ccc;">
                                    <table class="cuadrante cuadrante-3">
                                        <tr class="temporales">
                                            <td>
                                                <table>
                                                    <tr>
                                                        {% for p in piezas_temporales_c3 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento_id.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="permanentes">
                                            <td>
                                                <table>
                                                    <tr>
                                                        {% for p in piezas_permanentes_c3 %}
                                                            <td>
                                                                <table class="pieza">
                                                                    <tr>
                                                                        <td>
                                                                            <img class="{{ p.cara_0_tratamiento_id.css_class }}"
                                                                                 src="{{ p.pieza.imagen.url }}"
                                                                                 data-op="{{ p.id }}"
                                                                                 data-nro-cara="0"
                                                                                 alt="{{ p.pieza.nombre }}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            {{ p.pieza.abrev }}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="caras">
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_1_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="1">{{ p.pieza.cara_1.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                            <span class="{{ p.cara_2_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="2">{{ p.pieza.cara_2.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_3_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="3">{{ p.pieza.cara_3.abrev }}</span>
                                                                                    </td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_4_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="4">{{ p.pieza.cara_4.abrev }}</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>
                                                                            <span class="{{ p.cara_5_tratamiento.css_class }}"
                                                                                  data-op="{{ p.id }}"
                                                                                  data-nro-cara="5">{{ p.pieza.cara_5.abrev }}</span>
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="leyenda">
                        <fieldset>
                            <legend>Seleccione el di&aacute;gnostico</legend>
                            <div class="btn-group-vertical tratamientos">
                                {% for t in tratamientos %}
                                    <button onclick="setActive(this);" data-id="{{ t.id }}"
                                            data-css-class="{{ t.css_class }}"
                                            class="btn {{ t.css_class }}">{{ t.nombre }}</button>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

    {% if lista %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">ODONTOGRAMAS PREVIOS</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sorted">
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Informe</th>
                                <th>Plan tratamiento</th>
                                <th>Ver</th>
                            </tr>
                            {% for i in lista %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.fecha }}</td>
                                    <td>{{ i.informe }}</td>
                                    <td>{{ i.plan_tratamiento }}</td>
                                    <td>
                                        <a href="{% url 'atencion:persona_odontograma_view' pk=historia.persona.id oid=i.id %}"
                                           class="btn btn-primary btn-sm text-bold">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary" form="odontograma_form">Guardar</button>
    <a href="{% url 'atencion:persona_odontograma_create' historia.persona.id %}" class="btn btn-success">Nuevo
        Odontograma</a>
{% endblock %}
{% block customjs %}
    <script>
        var setActive = function (el) {
            $.each($(".tratamientos").find(".active"), function (i, a) {
                $(a).removeClass("active");
            });
            $(el).addClass("active");
        };

        $(function () {

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            $(".odontograma .pieza img").on("click", function () {
                var css = "";
                var idTratamiento = "";
                var el = this;

                $.each($(".tratamientos").find(".active"), function (i, a) {
                    css = $(a).data("css-class");
                    idTratamiento = $(a).data("id");
                });
                var nroCara = $(el).data("nro-cara");

                if (idTratamiento != "" && nroCara === 0 && (idTratamiento === 5 || idTratamiento === 1)) {

                    var idOP = $(el).data("op");
                    var nroCara = $(el).data("nro-cara");
                    var _data = {};
                    _data.idTratamiento = idTratamiento;
                    _data.idOP = idOP;
                    _data.nroCara = nroCara;

                    $.ajax({
                        url: "odontograma/update-pieza",
                        type: "POST",
                        data: _data,
                        success: function (r) {
                            if (r.valid) {
                                $(el).removeClass();
                                $(el).addClass(css);
                            }
                        }
                    });

                }
            });

            $(".odontograma .caras span").on("click", function () {
                var css = "";
                var idTratamiento = "";
                var el = this;

                $.each($(".tratamientos").find(".active"), function (i, a) {
                    css = $(a).data("css-class");
                    idTratamiento = $(a).data("id");
                });

                if (idTratamiento != "" && idTratamiento !== 5) {

                    var idOP = $(el).data("op");
                    var nroCara = $(el).data("nro-cara");

                    var _data = {};
                    _data.idTratamiento = idTratamiento;
                    _data.idOP = idOP;
                    _data.nroCara = nroCara;

                    $.ajax({
                        url: "odontograma/update-pieza",
                        type: "POST",
                        data: _data,
                        success: function (r) {
                            if (r.valid) {
                                $(el).removeClass();
                                $(el).addClass(css);
                            }
                        }
                    });

                }
            });
        });
    </script>
{% endblock %}
